@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
     <li class="nav-item">
        <form asp-controller="Proforma" asp-action="Index">
            
            <li class="nav-item"><a href="Proforma"><img src="https://img.icons8.com/metro/512/add-shopping-cart.png" width="30"></a></li>                         
                        
        </form>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Salir</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">𝙍𝙀𝙂𝙄𝙎𝙏𝙍𝘼𝙍𝙎𝙀</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">𝙄𝙉𝙂𝙍𝙀𝙎𝘼𝙍</a>
    </li>
}
</ul>
