

<br>

<div class="text-center" class="margin=1 " >
    


<table class="table">
  
    <tr>
      <h1>EN UNOS MOMENTOS NOS ESTAREMOS</h1> 
    </tr>
    <tr>
      <h1>EN CONTACTO CON USTED</h1> 
    </tr>
    
      <br>
      <br> 
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1utu2O2gQbZq0eVi0SG_1e46xB2WBRSqaQA&usqp=CAU" class="rounded float-left" alt="..." height="230px">
   
    <br>
    <br>
    <BR></BR>
    <tr>
      <h1>¡GRACIAS POR SU ESPERA! </h1> 
    </tr>
</table>
    </div>      
    <div class="text-center">
        <a asp-action="Index">Regresar</a>
    </div> 
        
    