@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">𝙱𝙸𝙴𝙽𝚅𝙴𝙽𝙸𝙳𝙾𝚂 𝙰 𝙵𝚄𝙽𝙺𝙾 𝚂𝚃𝙾𝚁𝙴</h1>
</div>

</div>
<div class="container">
    <div class="row">       
        <img src="https://www.themarysue.com/wp-content/uploads/2022/07/Wakanda-Forever-Funko-Pops.jpg?fit=1200%2C675" alt="">
    </div>
    
</div>
<br>
<br>
<br>
<div class="text-center">
    <h1 class="display-4">Nuevos productos exclusivos</h1>
<br>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://superfanzone.com/modules/angarslider/views/img/images/3ca99fc034cd1ba7139276154fc9674285129074_one%20piece.jpeg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="https://superfanzone.com/modules/angarslider/views/img/images/770fb858f67563c29947eaf255c5289de4bb862a_mand.jpeg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="https://superfanzone.com/modules/angarslider/views/img/images/4ff11f91a1673c5a396b83f7e814760f149b9967_Banner%20DC.jpg"  class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="https://superfanzone.com/modules/angarslider/views/img/images/421549645756a180dfe067d105a758bbe54f5588_Banner%20Harry%20Potter.jpg"  class="d-block w-100" alt="">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div> 

<div class="row bor">
  <div class="col-4"><img width="400" height="400" class="tamed" src="/images/red.jpg" alt=""></div>
  <div class="col-8"><h1>𝓟𝓻𝓸𝓶𝓸𝓬𝓲ó𝓷 𝓭𝓮 𝓵𝓪𝓷𝔃𝓪𝓶𝓲𝓮𝓷𝓽𝓸</h1>
  <h3>Sobre este artículo
Lleva la diversión caótica a tu vida con Super Pop! Red Panda Mei para la colección Turning Red de tu Disney-Pixar.
La figura de vinilo mide aproximadamente 6 pulgadas de alto.
Este juguete de peluche está hecho con materiales de alta calidad para mayor durabilidad y suavidad.
</h3></div>
</div>
<div class="row bor">
  <div class="col-4"><img width="400" height="400" class="tamed" src="/images/minion.jpg" alt=""></div>
  <div class="col-8"><h1>𝓟𝓻𝓸𝓶𝓸𝓬𝓲ó𝓷 𝓭𝓮 𝓵𝓪𝓷𝔃𝓪𝓶𝓲𝓮𝓷𝓽𝓸</h1>
  <h3>Sobre este artículo
De Minions: The Rise of Gru, Pajama Bob, como un pop estilizado
Figura coleccionable estilizada de 3 ¾ pulgadas de alto, perfecta para cualquier fan de Minions 2
Colecciona y muestra todos los Minions: The Rise of Gru POP. Vinilos
</h3></div>
</div>
<div class="row bor">
  <div class="col-4"><img width="400" height="400" class="tamed" src="/images/saitama.jpg" alt=""></div>
  <div class="col-8"><h1>𝓟𝓻𝓸𝓶𝓸𝓬𝓲ó𝓷 𝓭𝓮 𝓵𝓪𝓷𝔃𝓪𝓶𝓲𝓮𝓷𝓽𝓸</h1>
  <h3>Sobre este artículo
From One Punch Man, Saitama, as a stylized Pop vinyl from Funko
Stylized collectable stands 3 ¾ inches tall
Collect and display all One Punch Man Pop; vinyls
</h3>
  </div>
</div>