@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">🅱🅸🅴🅽🆅🅴🅽🅸🅳🅾 🅰 🅵🆄🅽🅺🅾🆂🆃🅾🆁🅴</h1>
</div>

<div class="row bor">
  <div class="col-4"><img width="400" height="400" class="tamed" src="/images/red.jpg" alt=""></div>
  <div class="col-8"><h1>𝓟𝓻𝓸𝓶𝓸𝓬𝓲ó𝓷 𝓭𝓮 𝓵𝓪𝓷𝔃𝓪𝓶𝓲𝓮𝓷𝓽𝓸</h1>
  <h3>Sobre este artículo
Lleva la diversión caótica a tu vida con Super Pop! Red Panda Mei para la colección Turning Red de tu Disney-Pixar.
La figura de vinilo mide aproximadamente 6 pulgadas de alto.
Este juguete de peluche está hecho con materiales de alta calidad para mayor durabilidad y suavidad.
</h3></div>
</div>
<div class="row bor">
  <div class="col-4"><img width="400" height="400" class="tamed" src="/images/minion.jpg" alt=""></div>
  <div class="col-8"><h1>𝓟𝓻𝓸𝓶𝓸𝓬𝓲ó𝓷 𝓭𝓮 𝓵𝓪𝓷𝔃𝓪𝓶𝓲𝓮𝓷𝓽𝓸</h1>
  <h3>Sobre este artículo
De Minions: The Rise of Gru, Pajama Bob, como un pop estilizado
Figura coleccionable estilizada de 3 ¾ pulgadas de alto, perfecta para cualquier fan de Minions 2
Colecciona y muestra todos los Minions: The Rise of Gru POP. Vinilos
</h3></div>
</div>
<div class="row bor">
  <div class="col-4"><img width="400" height="400" class="tamed" src="/images/saitama.jpg" alt=""></div>
  <div class="col-8"><h1>𝓟𝓻𝓸𝓶𝓸𝓬𝓲ó𝓷 𝓭𝓮 𝓵𝓪𝓷𝔃𝓪𝓶𝓲𝓮𝓷𝓽𝓸</h1>
  <h3>Sobre este artículo
From One Punch Man, Saitama, as a stylized Pop vinyl from Funko
Stylized collectable stands 3 ¾ inches tall
Collect and display all One Punch Man Pop; vinyls
</h3>
  </div>
</div>