@{
    ViewData["Title"] = "Nosotros";
}
<header style="background-color:#C4F5F5;">
    <br>
<h1 style="text-align:center ;">@ViewData["Title"]</h1>
<br>
<br>
<div class="row">
    <div class="col columna"></div>
    <div class="col columna">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Funko_Headquarters%2C_Downtown_Everett%2C_WA.jpg" width="450px" alt="">
    </div>
    <div class="col columna">
        <h4 >Nosotros somos una empresa que se encuentra dedicada a la comercialización de productos de entretenimiento para todas las edades, de capital 100% peruano con una tienda virtual con cobertura nacional mediante nuestra recientemente creada página web.
</h4>

    </div>
    <div class="col columna"></div>
</div>

<br>
<br>
<br>
<br>
<h2 class="text-center">ENCUENTRANOS</h2>
<br>
<div class="text-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6754.330558799854!2d-76.9710631535514!3d-12.056106137713243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c666c92e3e77%3A0xb680b42a1c459c66!2sMall%20Aventura%20Santa%20Anita!5e0!3m2!1ses-419!2spe!4v1668549888201!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
</header>