@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>
<br>
<br>
<h4 class="text-center">Somos Gumby Pop importador para todo tipo de coleccionista Funko ,</h4>
<h4 class="text-center">Funko Pop!, Vinyl, Anime, Manga, Comic, Videojuegos, Figuras de Colección,</h4>
<h4 class="text-center">Marvel, Banpresto, Bandai, Megahouse, etc. Productos 100% originales</h4>

<br>
<br>
<br>
<br>
<h2 class="text-center">ENCUENTRANOS</h2>
<div class="text-center"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6562.023094746224!2d-76.97220004622248!3d-12.05712114870713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1668234996070!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>