html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(https://thumbs.dreamstime.com/b/fondo-de-la-tecnolog%C3%ADa-para-el-sitio-web-puntos-negros-del-connecti-82793024.jpg);
  background-size: 100%;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
}
.card{
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
}
.card .img-responsive{
  width: 100%;
  height: 200px;
}
.card .card-body{
  padding: 15px;
  text-align: center;
}

.form-login{
text-align: center;  
width: 400px;
background:#000000 ;
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
font-family: 'calibri';
color: white;
top: 50%;
left: 50%;
transform: translate(+80%,-10%);
}
.form-login a{
  color: white;
}
.form-floating{
  color: #000000;
  font-size: 24px;
  border-radius: 4px;
  
  font-family: 'calibri';
}
.form-register{
  text-align: center;
  width: 400px;
  background:#000000 ;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  top: 50%;
left: 50%;
transform: translate(+80%,-10%);
  }
  .form-register a{
    color: white;
  }

 .pago{  
  text-align: left;
  margin-left: 10%;
  margin-right:10%; 
 }
 .pago .control-label{
  text-align: left;
  padding: 18px;
  width: 400px;
 }

 .pie-pagina{  
  margin-top: 17%;
  width: 100%;
  background-color: #027ce7;
 }
 .pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px ;
  padding: 45px 0px;
 }
 .pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .pie-pagina .grupo-1 .box figure img{
  width: 250px;
 }
 .pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
 }
 .pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
 }
 .pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0080ff;
  text-align: center;
  transition: all 300ms ease;
 }
 .pie-pagina .grupo-1 .red-social a:hover{
  color: aqua  ;
 }
 .pie-pagina .grupo-2{
  background-color: #0f41e2;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
 }
 .pie-pagina .grupo-2 small{
  font-size: 15px;
 }
 .pagar{
  background-color: #C4F5F5;
  text-align: center;
  border-right: 10%; 
  width: 450px;  
  transform: translate(+80%,-10%);
 }
 .pagar .col-sm-2{
  width: 150px;
 }
 .crear{
  background-color: #C4F5F5;
  text-align: center;
  width: 500px;  
  transform: translate(+80%,0%);
 }
 .crear .form{
  color: #027ce7;
  width: 100%;
 }
 .crear .form .form-group{
  width: 100%;
 }
 .edit{
  background-color: #C4F5F5;
  text-align: center;
  width: 500px;  
  transform: translate(+80%,0%);
 }
 .edit .form{
  color: #027ce7;
  width: 100%;
 }
 .edit .form .form-group{
  width: 100%;
 }
 .deta{
  background-color: #C4F5F5;
  text-align: center;
  width: 500px;  
  transform: translate(+80%,0%);
 }

 .buscar{
  position: absolute;
  padding: 5px;
 }
 .buscar .lupa{
  width: 250px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000000;
  outline: none;
  border: 1px solid silver;
  border-radius: 20px;
  transition: all 0.6s ease;  
 }
 .buscar .busq{
  width: 100px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000000;
  outline: none;
  border: 1px solid silver;
  border-radius: 20px;
  transition: all 0.6s ease;  
 }
 
 